@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    z-index: -1;
  }
  .navbar-overlay {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
  .navbar-burger {
    display: none;
  }
  #navholder {
    display: none;
  }
}
